{% extends 'bf/base.html' %}

{% block content %}
    <div class="run" style="display: flex; flex-direction: column-reverse; justify-content: center; flex-wrap: nowrap; align-items: center ">
<!--        <div>-->
<!--            <a class="btn btn-primary" href="/start_shedull/" role="button">-->
<!--            <h1>Start SheDull</h1>-->
<!--        </a>-->
<!--        </div>-->
<!--        <div>-->
<!--            <a class="btn btn-primary" href="/stop_shedull/" role="button">-->
<!--              <h1>StopShedull</h1>-->
<!--            </a>-->
<!--        </div>-->

<!--        <div>-->
<!--            <a class="btn btn-primary" href="/show_lest/" role="button">-->
<!--                <h1>Show</h1>-->
<!--            </a>-->
<!--        </div>-->
    <h1>Работа шедуллера: {{ start }} </h1>

    </div>

{% endblock %}