{% extends 'currency/base.html' %}

{% block content %}
<div>
    <div class="run" style="display: flex; flex-direction: column-reverse; justify-content: center; flex-wrap: nowrap; align-items: center ">
        <div>
            <a class="btn btn-primary" href="/to_base/" role="button">
                <h1>Run currency</h1>
            </a>
        </div>

        <div>
            <h1> {{ currency_name_eur }} {{ privat_price_eur_sale }} </h1>
        </div>
        <div>
            <h1> {{ currency_name_usd }} {{ privat_price_usd_sale }} </h1>
        </div>
         <div>
            <a class="btn btn-primary" href="/mirror/" role="mirr">
                <h1>Mirror</h1>
            </a>
        </div>
    </div>
</div>
{% endblock %}