{% extends 'currency/base.html' %}

{% block content %}
    <div class="run" style="display: flex; flex-direction: column-reverse; justify-content: center; flex-wrap: nowrap; align-items: center ">
        <div>
            <a class="btn btn-primary" href="/" role="button">
            <h1>Back</h1>
        </a>
        </div>
        <div>
            <h1> USD {{ nbu_price_usd }}  </h1>
        </div>
        <div>
            <h1>  EUR {{ nbu_price_eur }} </h1>
        </div>
        <div>
            <a class="btn btn-primary" href="/send_telega/" role="button">
            <h1>Telegram</h1>
        </a>
        </div>
    </div>
{% endblock %}