{% extends 'currency/table.html' %}


{% block thead %}

    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">NBU USD </th>
      <th scope="col">NBU EUR </th>
      <th scope="col">PrivatBank USD buy</th>
      <th scope="col">PrivatBank USD sell</th>
      <th scope="col">PrivatBank EURO buy</th>
      <th scope="col">PrivatBank EURO sell</th>
      <th scope="col">MonoBank USD buy</th>
      <th scope="col">MonoBank USD sell</th>
      <th scope="col">MonoBank EURO buy</th>
      <th scope="col">MonoBank EURO sell</th>
    </tr>
{% endblock %}

{% block tbody %}
    {% for ii in enum %}
        <tr>
            <th>  {{ ii.0 }} </th>
            <td>  {{ ii.1.date }} </td>
            <td>  {{ ii.1.nbu_usd }} </td>
            <td>  {{ ii.1.nbu_eur }} </td>
            <td>  {{ ii.1.privat_usd_buy }} </td>
            <td>  {{ ii.1.privat_usd_sale }} </td>
            <td>  {{ ii.1.privat_eur_buy }} </td>
            <td>  {{ ii.1.privat_eur_sale }} </td>
            <td>  {{ ii.1.mono_usd_buy }} </td>
            <td>  {{ ii.1.mono_usd_sale }} </td>
            <td>  {{ ii.1.mono_eur_buy }} </td>
            <td>  {{ ii.1.mono_eur_sale }} </td>
        </tr>
    {% endfor %}

{% endblock %}
