{% extends 'currency/table.html' %}
{% block title %}MonoBank currency{% endblock title %}


{% block thead %}
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">USD buy</th>
      <th scope="col">USD sell</th>
      <th scope="col">EURO buy</th>
      <th scope="col">EURO sell</th>
    </tr>
{% endblock %}

{% block tbody %}
    {% if perms.currency.monobank_currency_view %}
        {% for ii in enum %}

            <tr>
{#             <button type="button" class="btn btn-outline-danger">Опасность</button>#}
{#             <button type="button" class="btn btn-outline-warning">Предупреждение</button>#}
{#                <td>#}
{#                    <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModal">#}
{#                      Change#}
{#                    </button>#}
{#                </td>#}
                <th>  {{ ii.0 }} </th>
                <td>  {{ ii.1.date }} </td>
                <td>  {{ ii.1.mono_usd_buy }} </td>
                <td>  {{ ii.1.mono_usd_sale }} </td>
                <td>  {{ ii.1.mono_eur_buy }} </td>
                <td>  {{ ii.1.mono_eur_sale }} </td>
                <th>
                    <!-- Button trigger modal -->
                    {% include 'currency/modal_crud_buttons.html' %}
                    {% include 'currency/modal_del_message.html' %}
                    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal">
                          Edit
                    </button>
                </th>


            </tr>

        {% endfor %}
    {% else %}
        <h1>Tou are not from monobank, you need log in!! </h1>
    {% endif %}
{% endblock %}
