{% extends 'currency/table.html' %}

{% block thead %}
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">USD buy</th>
      <th scope="col">USD sale</th>
      <th scope="col">EURO buy</th>
      <th scope="col">EURO sale</th>
    </tr>
{% endblock %}

{% block tbody %}
    {% for ii in enum %}
        <tr>
            <th>  {{ ii.0 }} </th>
            <td>  {{ ii.1.date }} </td>
            <td>  {{ ii.1.mono_usd_buy }} </td>
            <td>  {{ ii.1.mono_usd_sale }} </td>
            <td>  {{ ii.1.mono_eur_buy }} </td>
            <td>  {{ ii.1.mono_eur_sale }} </td>
        </tr>
    {% endfor %}
{% endblock %}